/* app css stylesheet */

.logcontainer{
	/*display: block;*/
	max-height: 300px;
	overflow: scroll;
}


.property {
	padding:0.2em;
}
.property .title{
	margin-left: -0.2em;
	font-weight: bold;
}

.path{
	display:table;
    width:100%;
    table-layout:fixed;
}

.path .router{
	text-align: center;
	display:table-cell;
}