/* app css stylesheet */

.logcontainer{
	/*display: block;*/
	max-height: 300px;
	overflow: scroll;
}

main {
	margin-top:2em;
}

.property {
	padding:1em;
}
.property .title{
	margin-top: -1em;
	margin-left: -1em;
	font-weight: bold;
}

.path{
	display:table;
    width:100%;
    table-layout:fixed;
}

.path .router{
	text-align: center;
	display:table-cell;
}