
<div class="row">
<div class="col-sm-10">
<h1> Circuit {{circuit.id}}</h1>
</div>
<div>
  <a class="btn {{circuit.status|statusButton}} btn-lg disabled">{{circuit.status}}</a>
</div>
<div class="row">
<div class="col-md-2">Created on</div>
<div class="col-md-10">{{ circuit.created| date : 'medium'}}</div>
</div>
<div class="row">
<div class="col-md-2">Build Flags</div>
<div class="col-md-10"><span ng-repeat="flag in circuit.build_flags">{{flag}} </span></div>
</div>
<h2>Nodes</h2>
<div class="table-responsive">
<table class="table table-striped">
<thead>
	<th>Name</th>
	<th>Fingerprint</th>
</thead>
<tbody>
<tr ng-repeat="path in circuit.path">
	<td>{{path.name}}</td>
	<td>{{path.fingerprint}}</td>
</tr>
</tbody>
</div>
</div>
