<h1>Circuits</h1>
<!--<div id="circuitsgraph" style="height: 400px; max-width:500px"></div>-->


<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<th>Id</th>
		<th>Status</th>
		<th>Path</th>
		<th>Actions</th>
	</thead>
	<tbody ng-repeat="circuit in circuits">
		<tr>
			<td><a role="button" class="btn btn-primary" href="#/circuits/{{circuit.id}}">{{circuit.id}}</a></td>
			<td><button class="btn {{circuit.status | statusButton}}">{{circuit.status}}</button></td>
			<td>
				<span ng-repeat="path in circuit.path">{{path.name}} &gt; </span> <i>Internet</i>
			</td>
			<td>
				<a ng-if="circuit.status == 'BUILT'" ng-click="deleteCircuit(circuit.id)" class="btn btn-danger" role="button">
					<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Delete
				</a>
			</td>	
		</tr>
	</tbody>

</div>
</div>
<!--
{{drawGraph("circuitsgraph")}}
<div ng-repeat="circuit in circuits">
{{addToGraph(circuit)}}
</div>
-->
