.errorpage(ng-if="circuits.error", class="{{circuits.error.status}}")
  h1 Router Error: {{circuits.error.status}}
  h2 {{circuits.error.statusText}}
div(ng-if="!circuits.error")
  h1 Circuits
  .table-responsive
    table.table.table-striped
      thead
        th Id
        th Status
        th Path
        th.hidden-md-down Last Node IP
        th Actions
      tbody
        tr(ng-repeat="circuit in circuits.objects")
          td
            button.btn.btn-link(ng-click="circuitDetails(circuit)", title="Show the details of this ciruit.") {{circuit.id}}
          td
            span.label.label-pill(class="label-{{circuit.state | statusStyleSuffix}}") {{circuit.state}}
          td
            .path
              .router(ng-repeat="router in circuit.path")
                button.btn.btn-link(ng-click="routerDetails(router)", title="IP: {{router.ip}} (Click to see more information.)")
                  | {{router.name}} &nbsp;
                  span.flag-icon(class="flag-icon-{{router.location.cc | lowercase}}")
          td.hidden-md-down
            {{circuit.path[circuit.path.length-1].ip}}
          td
            button.btn.btn-danger(ng-if="circuit.state == 'BUILT'", ng-click="deleteCircuit(circuit)")
              span.glyphicon.glyphicon-remove-circle(aria-hidden="true")
              | Close