h1 Circuits
// <div id="circuitsgraph" style="height: 400px; max-width:500px"></div>
.table-responsive
  table.table.table-striped
    thead
      th Id
      th Status
      th Path
      th Actions
    tbody
      tr(ng-repeat="circuit in circuits")
        td
          a.btn.btn-primary(role="button", href="#/circuits/{{circuit.id}}") {{circuit.id}}
        td
          span.label(class="label-{{circuit.state | statusStyleSuffix}}") {{circuit.state}}
        td
          span(ng-repeat="router in circuit.path")
            span(title="{{router.ip}}") {{router.name}}
            | &nbsp;
            span.flag-icon(class="flag-icon-{{router.location.cc | lowercase}}")
            | &#62; 
          i Internet
        td
          a.btn.btn-danger(ng-if="circuit.state == 'BUILT'", ng-click="deleteCircuit(circuit.id)", role="button")
            span.glyphicon.glyphicon-remove-circle(aria-hidden="true")
            | Close
  {{drawGraph("circuitsgraph")}}
  <div ng-repeat="circuit in circuits">
  {{addToGraph(circuit)}}
  </div>
