h1 Tor Instance
button.btn.btn-primary(ng-click="go('circuit-list')") Circuits
button.btn.btn-primary(ng-click="go('stream-list')") Streams

h2 Connection
p Port {{instance.port}}
p Host {{instance.host}}
label
	| Hide default values
	input(type="checkbox", ng-model="hide_default", ng-init="hide_default=true")
h2 Configuration
table.table.table-striped.configuration
	thead
		tr
			th Name
			th Value
	tbody
		tr(ng-repeat="config in instance.configuration", ng-if="!hide_default || config.value != 'DEFAULT'")
			td {{config.name}}
			td {{config.value}}
