include includes/error
div(ng-if="!content.error")
  h1 Tor Instances
  .list-group
    a.list-group-item(ng-repeat="instance in instances" href="#/{{instance.id}}/")
      .list-group-item-heading
        h4 Instance
        span(ng-if="instance.connected").label.label-pill.label-success.pull-xs-right Connected
        span(ng-if="!instance.connected").label.label-pill.label-danger.pull-xs-right Connection failed
      p.list-group-item-text
        | Port {{instance.port}}, Host {{instance.host}}
