.errorpage(ng-if="instances.error", class="{{instances.error.status}}")
  h1 Error: {{instances.error.status}}
  h2 {{instances.error.statusText}}
div(ng-if="!instances.error")
  h1 Tor Instances
  .list-group
    a.list-group-item(ng-repeat="instance in instances.objects" href="#/{{instance.id}}/")
      h4.list-group-item-heading Instance
      p.list-group-item-text
        | Port {{instance.port}}, Host {{instance.host}}
