include includes/error
div(ng-if="!content.error")
  h1 Tor Instance
  h2 Connection &nbsp;
    span(ng-if="instance.connected === true").label.label-pill.label-success Succeeded
    span(ng-if="instance.connected === false").label.label-pill.label-danger Failed
  .row(ng-if="instance.connection_error")
    .col-sm-1
      strong Error
    .col-sm-11 {{instance.connection_error.message}}
  .row
    .col-sm-1
      strong Port
    .col-sm-11 {{instance.port}}
  .row
    .col-sm-1
      strong Host
    .col-sm-11 {{instance.host}}