include includes/error
div(ng-if="!content.error")
  h1 Streams
  .table-responsive
    table.table.table-striped
      thead
        th Id
        th State
        th.hidden-sm-down Circuit
        th Source
        th Target Host
        th Target Address
        th Actions
      tbody
        tr(ng-repeat="s in streams")
          td {{s.id}}
          td 
            span.label.label-pill(class="label-{{s.state | statusStyleSuffix}}") {{s.state}}
          td.hidden-sm-down
            button.btn.btn-link(ng-click="circuitDetails(s.circuit)") {{s.circuit.id}}
          td(ng-if="s.source_addr") {{s.source_addr}}:{{s.source_port}}
          td(ng-if="!s.source_addr") 
            i noip
            | :{{s.source_port}}

          td {{s.target_host}}
          td(ng-if="s.target_addr") {{s.target_addr}}:{{s.target_port}}
          td(ng-if="!s.target_addr") 
            i noip
            | :{{s.target_port}}
          td
            a.btn.btn-danger(ng-if="s.state != 'CLOSED'", ng-click="deleteStream(s)", role="button")
              span.glyphicon.glyphicon-remove-circle(aria-hidden="true")
              | Close
