include includes/error
div(ng-if="!content.error")
  h1 Tor Instance
  h2 Connection &nbsp;
    span(ng-if="instance.connected === true").label.label-pill.label-success Succeeded
    span(ng-if="instance.connected === false").label.label-pill.label-danger Failed
  .row.alert.alert-danger(ng-if="instance.connection_error")
    .col-sm-2
      strong Error
    .col-sm-10 {{instance.connection_error.message}}
  .row
    .col-sm-2
      strong Host
    .col-sm-10 {{instance.host}}
  .row
    .col-sm-2
      strong Control Port
    .col-sm-10 {{instance.control_port}}
  .row(ng-if="instance.dns_port")
    .col-sm-2
      strong DNS Port
    .col-sm-10 {{instance.dns_port}}
