include includes/error
div(ng-if="!content.error")
  h1 Router: {{router.name}}
  .btn-group(role="group")
    button.btn.btn-secondary(type="button", ng-click="reverseDNS(router)") Reverse DNS
    a.btn.btn-secondary(target="_blank", href="https://atlas.torproject.org/#details/{{router.id}}", title="Show this Router in the Tor Atlas" ) Atlas
    button.btn.btn-secondary(type="button", ng-click="askOnionooo()") Ask Onionoo
  .row
    .col-md-4
      .property
        .title Name
        .value {{router.name}}
      .property(style="overflow:hidden")
        .title Fingerprint/ID
        .value {{router.unique_name}}
      .property
        .title IP
        .value {{router.ip}}
      .property(ng-if="router.hostname")
        .title Hostname
        .value {{router.hostname}}
          span(ng-if="router.hostname_verified") &nbsp;
            span.label.label-pill.label-success(title="Hostname resolved to the same IP address.") OK!
      .property(ng-if="router.dir_address")
        .title Dir Address
        .value {{router.dir_address}}
      .property(ng-if="router.contact")
        .title Contact
        textarea.value {{router.contact}}
    .col-md-4
      .property
        .title Flags
        span.label.label-pill.label-default(ng-repeat="flag in router.flags")
          span(ng-if="flag | RouterFlags")
            span.octicon(class="octicon-{{flag | RouterFlags}}")
            | &nbsp;
          | {{flag}}
      .property
        .title Bandwidth
        | {{router.bandwidth | Bytes}}/s
    .col-md-4
      .property(ng-if="router.platform")
        .title Platform
        | {{router.platform}}
      .property
        .title Country
        .value
          span(ng-if="!router.location.country_name") {{router.location.country}}&nbsp;
          span(ng-if="router.location.country_name") {{router.location.country_name}}&nbsp;
          span.flag-icon(class="flag-icon-{{router.location.country | lowercase}}")